<web-app>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>controller.RegistroServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
</web-app>
